# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
*.egg

# Experiments
exp/
.env/
data/mit_interview/features/lexical_batched/
data/iemocap/features
.DS_Store